streamlit
pandas
pymongo
langchain
langchain-community
langchain-openai
openai
whisper
speechrecognition
pyaudio
pydub
torch
langdetect
googletrans
ollama
python-multipart
audio-recorder-streamlit
#st-audiorec
